@import "./node_modules/highlight.js/styles/solarized-dark.css";
@import "./tmp/noto-sans.css";

body {
	color: #333;
	font: 16px "Noto Sans", sans-serif;
	max-width: 64em;
	margin: 0 auto;
	padding: 1em;
	display: flex;
}

a {
	color: lightseagreen;
	text-decoration: none;
}

a:visited {
	color: lightseagreen;
}

a:hover {
	text-decoration: underline;
}

code {
	background: #002b36;
	color: #839496;
	display: inline-block;
	padding: 0.3em;
	margin: 0.15em 0;
}

.toc {
	width: 16em;
}

.content {
	flex: 1;
}
