@import "./tmp/text-font.css";
@import "./tmp/code-font.css";

@mixin small-width {
  @media (max-width: 768px) {
    @content;
  }
}

:root {
  --block-radius: 0.2rem;
  --menu-button-offset: 1rem;
  --menu-button-size: 4.5rem;
}

body {
  color: #333;
  font:
    16px TextFont,
    sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

a {
  color: lightseagreen;
  text-decoration: none;

  &:visited {
    color: lightseagreen;
  }

  &:hover {
    text-decoration: underline;
  }

  &.current {
    color: coral;

    &:visited {
      color: coral;
    }
  }
}

blockquote {
  background: lightgrey;
  color: dimgrey;
  padding: 0.6em;
  margin: {
    left: 1em;
    right: 1em;
  }
  border-radius: var(--block-radius);

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

pre {
  border-radius: var(--block-radius);
  overflow: hidden;
}

code {
  background: darkslategrey;
  color: white;
  font-family: CodeFont, monospace;
  display: inline-block;
  padding: 0.3em 0.4em;
  margin: 0.15em 0;
  border-radius: var(--block-radius);

  pre & {
    display: block;
    overflow-x: auto;
    padding: 0.9em 1em;
    margin: 0;
    border-radius: unset;
  }
}

@mixin part {
  padding: 1em;
  overflow-y: auto;

  @include small-width {
    padding-bottom: calc(var(--menu-button-size) + var(--menu-button-offset));
    flex: 1;

    &.hidden {
      display: none;
    }
  }
}

.toc {
  @include part;

  @include small-width {
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ul {
    list-style-type: none;
  }
}

.content {
  @include part;

  flex: 1;
  max-width: 60em;
}

.menu-button {
  color: white;
  background: tomato;
  display: none;
  justify-content: center;
  align-items: center;
  width: var(--menu-button-size);
  height: var(--menu-button-size);
  border-radius: var(--menu-button-size);
  position: fixed;
  bottom: var(--menu-button-offset);
  right: var(--menu-button-offset);
  box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.4);
  user-select: none;

  &.on > svg {
    transform: rotate(90deg);
  }

  > svg {
    height: calc(var(--menu-button-size) * 0.6);
    transition: transform 0.1s;
  }

  @include small-width {
    display: flex;
  }
}

@mixin icon-wrapper($height) {
  display: flex;
  flex-shrink: 0;
  justify-content: center;

  svg {
    height: $height;
  }
}

.lang-icon {
  @include icon-wrapper(4em);
}

.icons {
  @include icon-wrapper(2em);

  display: flex;

  > * {
    line-height: 0;
    margin: 0.4em;
  }

  > .twitter {
    fill: deepskyblue;
  }
}
