@import "./tmp/noto-sans.css";

@mixin small-width {
	@media (max-width: 768px) {
		@content;
	}
}

body {
	color: #333;
	font: 16px "Noto Sans", sans-serif;
	max-width: 64em;
	height: 100vh;
	overflow: hidden;
	margin: 0 auto;
	display: flex;

	@include small-width {
		max-width: none;
	}
}

a {
	color: lightseagreen;
	text-decoration: none;

	&:visited {
		color: lightseagreen;
	}

	&:hover {
		text-decoration: underline;
	}
}

code {
	background: #002b36;
	color: #839496;
	display: inline-block;
	padding: 0.3em;
	margin: 0.15em 0;

	pre & {
		display: block;
	}
}

@mixin part {
	padding: 1em;
	overflow-y: auto;

	&:last-child {
		padding-left: 0;
	}

	@include small-width {
		padding-bottom: 5rem;
	}
}

.toc {
	@include part;

	width: 16em;

	@include small-width {
		width: unset;
		display: none;

		&.shown {
			display: unset;
		}
	}
}

.content {
	@include part;
	@include small-width {
		&.hidden {
			display: none;
		}
	}
}

.menu-button {
	$size: 2.2em;
	$offset: 0.5em;

	font-size: 1.8rem;
	color: white;
	background: slategrey;
	display: none;
	justify-content: center;
	align-items: center;
	width: $size;
	height: $size;
	border-radius: $size;
	position: fixed;
	bottom: $offset;
	right: $offset;
	user-select: none;
	transition: transform 0.1s;

	&.on {
		transform: rotate(90deg);
	}

	@include small-width {
		display: flex;
	}
}
