@import "./tmp/noto-sans.css";
@import "./tmp/rouge.css";

$menu-button-offset: 1rem;
$menu-button-size: 4.5rem;

@mixin small-width {
	@media (max-width: 768px) {
		@content;
	}
}

body {
	color: #333;
	font: 16px "Noto Sans", sans-serif;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

a {
	color: lightseagreen;
	text-decoration: none;

	&:visited {
		color: lightseagreen;
	}

	&:hover {
		text-decoration: underline;
	}
}

$codeblock-radius: 0.2rem;

pre {
	border-radius: $codeblock-radius;
	overflow: hidden;
}

code {
	display: inline-block;
	padding: 0.3em 0.4em;
	margin: 0.15em 0;
	border-radius: $codeblock-radius;

	pre & {
		display: block;
		overflow-x: auto;
		padding: 0.9em 1em;
		margin: 0;
		border-radius: unset;
	}
}

@mixin part {
	padding: 1em;
	overflow-y: auto;

	&:last-child {
		padding-left: 0;
	}

	@include small-width {
		padding-bottom: $menu-button-size + $menu-button-offset;
	}
}

.toc {
	@include part;

	max-width: 25%;

	@include small-width {
		font-size: 1.3em;
		max-width: unset;
		display: none;

		&.shown {
			display: unset;
		}
	}
}

.content {
	@include part;

	flex: 1;
	max-width: 60em;

	@include small-width {
		max-width: unset;

		&.hidden {
			display: none;
		}
	}
}

.menu-button {
	font-size: $menu-button-size / 2;
	color: white;
	background: slategrey;
	display: none;
	justify-content: center;
	align-items: center;
	width: $menu-button-size;
	height: $menu-button-size;
	border-radius: $menu-button-size;
	position: fixed;
	bottom: $menu-button-offset;
	right: $menu-button-offset;
	user-select: none;
	transition: transform 0.1s;

	&.on {
		transform: rotate(90deg);
	}

	@include small-width {
		display: flex;
	}
}
