<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>{{ site.title }}</title>
		<link rel="icon" href="/favicon.png" type="image/png" />
		<link rel="stylesheet" type="text/css" href="/index.css" />
		<script async src="/register-service-worker.js"></script>
	</head>
	<body>
		<div class="toc">
			{% capture toc %}{% include toc.md %}{% endcapture %}
			{{ toc | markdownify }}
		</div>
		<div class="content">
			{{ content }}
		</div>
		<script async src="/index.js"></script>
	</body>
</html>
