<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="The timeless functional programming language" />
		<meta name="theme-color" content="#ddd" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>
			{% if page.title == site.title %}
				{{ site.title }}
			{% else %}
				{{ page.title }} | {{ site.title }}
			{% endif %}
		</title>
		<link rel="icon" href="/favicon.png" />
		<link rel="manifest" href="/manifest.json" />
		<link rel="prerender" href="/" />
		<style>{% include index.css %}</style>
	</head>
	<body>
		<div class="toc hidden">
			{% capture toc %}{% include toc.md %}{% endcapture %}
			{{ toc | markdownify }}
			<div class="github-icon">
				<a href="https://github.com/cloe-lang/cloe">
					{% octicon mark-github %}
				</a>
			</div>
		</div>
		<div class="content">
			{{ content }}
		</div>
		<div class="menu-button">
			{% octicon three-bars fill: currentColor %}
		</div>
		<script async src="/index.js"></script>
	</body>
</html>
