name: release
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  release:
    environment: github-pages
    permissions:
      contents: read
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - uses: actions/configure-pages@v5
      - run: rake build
      - uses: actions/upload-pages-artifact@v4
        with:
          path: _site
      - uses: actions/deploy-pages@v4
        if: github.ref == 'refs/heads/main'
